target/
.DS_Store
*.out.*
*.zip
logs
web/project/project
web/project/target
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
.classpath
.project
RUNNING_PID
org.scala-ide.sdt.core.prefs
*~
sigel-*
data/*
web/data/*
*.txt
src/main/resources/input/*
src/main/resources/output/*
src/test/resources/output/*
/elasticsearch*
