target/
.DS_Store
*.out.*
*.zip
logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
out
.idea_modules
.classpath
.project
RUNNING_PID
org.scala-ide.sdt.core.prefs
*~
sigel-*
data/*
*.txt
app/transformation/input/*.xml
app/transformation/input/*.csv
test/transformation/output/*
