html {
	font-family: sans;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
	margin-bottom: 5px;
}

#header {
	width: 100%;
	background-image: url('http://lobid.org/images/clouds.jpg');
	background-repeat: repeat-x;
}

#header #hbz {
	float: left;
}

#header #butterfly {
	display: block;
	margin-left: auto;
	padding: 5px;
}

table {
	width: 100%;
}

td.field-label {
	width: 25%;
}

td.field-value {
	width: 75%;
}

#organisations-map {
	width: 100%;
	height: 400px
}
select {
	max-width: 110px;
}

#facet-map {
	float: none;
	width: 100%;
	height: 200px;
}

#facets {
	text-align: right;
}

.table-striped {
	margin-top: 20px;
}
}
