dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
	margin-bottom: 5px;
}

#header {
	width: 100%;
	background-image: url('https://lobid.org/images/clouds.jpg');
	background-repeat: repeat-x;
}

#header #butterfly {
	height: 25px;
}

#search-results {
	margin-top: 2em;
}

.footer img {
	height: 20px;
}

.footer {
	margin-top: 30px;
}

.nrw-logo {
	height: 50px;
}

table {
	width: 100%;
}

td.field-label {
	width: 25%;
}

td.field-value {
	width: 75%;
}

.organisations-map {
	width: 100%;
	height: 400px
}

select {
	max-width: 110px;
}

#facet-map {
	float: none;
	width: 100%;
	height: 200px;
}

#facets {
	text-align: right;
}

.table-striped {
	margin-top: 20px;
}

.link-icon {
	margin-top: 10px;
	float:right;
	height: 1.5em
}

figure {
	display: table;
	float: right;
	margin-top: 10px;
}

figcaption {
	display: table-caption;
	caption-side: bottom;
	text-align: right;
}

small {
	font-size: smaller;
}

#index-image {
	max-width: 450px;
	float: right;
	height: 250px;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	float: left;
	display: none;
	min-width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	text-decoration: underline;
	color: blue;
	z-index: 100 !important;
}

.navbar-default {
	margin-top: 10px;
}

/* improve accessibility */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #666;
}