html {
	font-family: sans;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
	margin-bottom: 5px;
}

#header {
	width: 100%;
	background-image: url('http://lobid.org/images/clouds.jpg');
	background-repeat: repeat-x;
}

#header #hbz {
	float: left;
}

#header #butterfly {
	height: 25px;
}

table {
	width: 100%;
}

td.field-label {
	width: 25%;
}

td.field-value {
	width: 75%;
}

.organisations-map {
	width: 100%;
	height: 400px
}

select {
	max-width: 110px;
}

#facet-map {
	float: none;
	width: 100%;
	height: 200px;
}

#facets {
	text-align: right;
}

.table-striped {
	margin-top: 20px;
}

.json-ld-icon {
	margin-top: 10px;
	float:right;
	height: 1.5em
}

figure {
	display: table;
	float: right;
}

figcaption {
	display: table-caption;
	caption-side: bottom;
	text-align: right;
}

small {
	font-size: smaller;
}

#index-image {
	max-width: 500px;
	float: right;
	height: 250px;
}