html {
	font-family: sans;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
	margin-bottom: 5px;
}

#header {
	width: 100%;
	background-image: url('http://lobid.org/images/clouds.jpg');
	background-repeat: repeat-x;
}

#header #hbz {
	float: left;
}

#header #butterfly {
	display: block;
	margin-left: auto;
	padding: 5px;
}

table {
	width: 100%;
}

td.label {
	width: 15%;
}

td.value {
	width: 85%;
}

select {
	max-width: 125px;
}

input#search {
	width: 750px;
}

#facet-map {
	float: none;
	width: 50%;
	height: 275px;
}
