@()

@import play.i18n._

@main("") {
<div class="row">
<div class="col-md-7">
<h3>@Messages.get("index.data_access.header")</h3>
<p>@Html(Messages.get("index.data_access.text", routes.Application.index(), routes.Application.api(), routes.Application.search()))</p>
<h3>@Messages.get("index.data_sources.header")</h3>
<p>@Html(Messages.get("index.data_sources.text", "http://sigel.staatsbibliothek-berlin.de", "https://www.hbz-nrw.de/produkte/bibliotheksstatistik"))</p>
<h3>@Messages.get("index.development.header")</h3>
<p>@Html(Messages.get("index.development.text", "https://github.com/hbz/lobid-organisations#about", "https://github.com/hbz/lobid-organisations/issues/new", "https://github.com/hbz/lobid-organisations/graphs/contributors"))</p>
</div>
<div class="col-md-5">
<a href="http://lobid.org"><img src='@routes.Assets.at("images/lobid.png")' style="float:right" height="250px"/></a>
</div>
</div>
}