@(id: String, content: com.fasterxml.jackson.databind.JsonNode)

@import play.api.libs.json._
@import play.api.libs.functional.syntax._

<link rel="stylesheet" href="@controllers.routes.Assets.at("stylesheets/leaflet.css")" />
<script src="@controllers.routes.Assets.at("javascripts/leaflet.js")"></script>
<script src="@controllers.routes.Assets.at("javascripts/Leaflet.MakiMarkers.js")"></script>

@main(id) {
    <h1>@id</h1>
    
    @defining(Json.parse(content.toString())) { parsedContent =>
        <table>
            @produceRow("Name", parsedContent \ "name", false)            
            @produceRow("ISIL", parsedContent \ "isil", false)          
            @produceRow("DBS ID", parsedContent \ "dbsID", false)
            @produceRow("Wikipedia", parsedContent \ "wikipedia", true)
            @produceRow("URL", parsedContent \ "url", true)            
            @produceRow("Telefon", parsedContent \ "telephone", false)
            @produceRow("Email", parsedContent \ "email", true)
            @produceRow("Typ", parsedContent \ "type", false)
            @produceRow("Bibliothekstyp", parsedContent \ "classification" \ "label", false)
            @produceRow("Träger", parsedContent \ "fundertype" \ "label", false)
            @produceRow("Bestandsgröße", parsedContent \ "stocksize" \ "label", false)
            
            @for(alternateName <- (parsedContent \ "alternateName").asOpt[Seq[JsValue]].getOrElse(Seq())) {
                 @produceRow("Anderer Name", alternateName, false)
            }
            
        </table>
        
        @if((parsedContent \ "address").asOpt[JsObject].isDefined) {
         <h3>Postanschrift</h3>
         
         <table>
            @produceRow("Postfach", parsedContent \ "address" \ "postOfficeBoxNumber", false)
            @produceRow("Postleitzahl", parsedContent \ "address" \ "postalCode", false)
            @produceRow("Stadt", parsedContent \ "address" \ "addressLocality", false)    
         </table>
        }
        
        @makeMap((parsedContent \ "location").asOpt[Seq[JsValue]].getOrElse(Seq())(0))
    
    }
    
    <p>You can also access <a href='@routes.Application.get(id=id, format="json")'>this data</a> using our <a href="@routes.Application.api()">API</a>.</p>
    
}

@string(value: JsValue) = { @value.asOpt[String].getOrElse("--") }

@produceRow(name: String, value: JsValue, link: Boolean) = {
    @if(value.asOpt[JsValue].isDefined){
        @defining(value.as[String].substring(0,value.as[String].length())) { valueAsString =>
            <tr>
                <td class="label">
                    @name
                </td>
                <td class="value">
                    @if(!link) {
                        @valueAsString
                    } else {
                        <a href="@valueAsString">@valueAsString</a>
                    }
                </td>
            </tr>
        }
    }
}

@makeMap(location: JsValue) = {
    
    <div id="organisations-map" style="width: 600px; height: 400px"></div>
    
    <table id="table"></table>

    <script>                  
        var layer = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
            subdomains: '1234'
        });    
        var center = new L.LatLng(50, 10)            
        var map = new L.Map("organisations-map", {
            center: center,
            zoom: 5,
            scrollWheelZoom: true,
            attributionControl: false,
            zoomControl: false
        }); 
        new L.Control.Zoom({ position: 'bottomleft' }).addTo(map);            
        @markers(location)
        map.addLayer(layer);
    </script>
}

@markers(location: JsValue) = {

    @if((location \ "geo" \ "lon").asOpt[String].isDefined &&
        (location \ "geo" \ "lat").asOpt[String].isDefined) {
            
        var lat = @string((location \ "geo" \ "lat"))
        var lon = @string((location \ "geo" \ "lon"))
        var latlng = L.latLng(lat, lon);
        var icon = L.MakiMarkers.icon({icon: "library", color: "#FF333B", size: "m"});
        var marker = L.marker([lat, lon],{
            title: "test",
            icon: icon
        });        
        marker.on('click', function(e) {
            zoomDetails();
        });        
        locationDetails = "<table style='width:350px'>" 
            + "<tr><td>Straße</td><td>@string((location \ "address" \ "streetAddress"))</td></tr>" 
            + "<tr><td>Postleitzahl</td><td>@string((location \ "address" \ "postalCode"))</td></tr>"
            + "<tr><td>Stadt</td><td>@string((location \ "address" \ "addressLocality"))</td></tr>"
            + "<tr><td>Land</td><td>@string((location \ "address" \ "addressCountry"))</td></tr>"
            + "<tr><td>Öffnungzeiten</td><td>@string((location \ "openingHoursSpecification" \ "description"))</td></tr>"
            + "</table>";                
        bindPopup(locationDetails);
        marker.on('popupclose', function(e) {
            map.setView(nrw, 7);
        });
        marker.addTo(map);         
        bindPopup(locationDetails);
        zoomDetails();
        
        function bindPopup(content) {
           marker.bindPopup(
               content,
           {
               keepInView: true
           });
        }            
        function zoomDetails() {
            map.setView(latlng, 16);
            marker.openPopup();
        }          
    }    
}
