@(title: String, q: String, location: String, json: String, from: Int, size: Int)

@import play.api.libs.json._

@links(buckets: Seq[JsValue], key: String) = {
	@for(bucket <- buckets; term = (bucket \ "key").as[String]; count = (bucket \ "doc_count").as[Int]) {
		@if(q.contains(key+":\""+term+"\"")){
		@term
		<a href='@routes.Application.search()?location=@location&format=html&from=@from&size=@size&q=@q.replace("AND "+key+":\""+term+"\"","").trim'>
		<span class="badge">Remove Filter <span class="glyphicon glyphicon-remove"></span></span>
		</a>
		} else {
		<a href='@routes.Application.search()?location=@location&format=html&from=@from&size=@size&q=@q.trim+AND+@key:"@term"'>@term (@count)</a>
		}<br/>
	}
}

@facet(queryMetadata: JsValue, key: String) = {
	@defining((key.replace('.','_'), (queryMetadata \ "aggregations" \ key \ "buckets").as[Seq[JsValue]])) { case (jsKey, buckets) =>
		@if(!buckets.isEmpty) {
		<h4>@key.split("\\.")(0).capitalize</h4>
		@links(buckets.take(12), key)
		@if(buckets.size>12){
			<a id='more-@jsKey-link' href="javascript:void(0);" onclick='$("#more-@jsKey").show(); $("#more-@jsKey-link").hide();'>Show all</a>
			<div id='more-@jsKey' style="display: none;">
			@links(buckets.drop(12), key)
			</div>
		}}
	}
}

@facetMap() = {
<link rel="stylesheet" href='@controllers.routes.Assets.at("stylesheets/leaflet.css")' />
<link rel="stylesheet" type="text/css" href='@controllers.routes.Assets.at("stylesheets/MarkerCluster.css")' />
<script src='@controllers.routes.Assets.at("javascripts/leaflet.js")'></script>
<script type='text/javascript' src='@controllers.routes.Assets.at("javascripts/leaflet.markercluster.js")'></script>
<script type='text/javascript' src='@controllers.routes.Assets.at("javascripts/offset.min.js")'></script>
<script src='@controllers.routes.Assets.at("javascripts/Leaflet.MakiMarkers.js")'></script>
<script async type='text/javascript' src='@routes.Application.search(q, location, from, size, "js")'></script>
}

@main(q, location, facetMap()) {
	@defining(Json.parse(json).as[Seq[JsValue]]) { orgs => @if(orgs.size > 1) {
	<p>
	<div class="row">
		<div class="col-md-2">
		<div id='location-facet-loading'><span class="label label-info">Loading locations...</span></div>
		<div style='display:none;' id='location-facet'>
		<h4>Location @if(!location.isEmpty){
		<a href='@routes.Application.search()?format=html&from=@from&size=@size&q=@q'>
		<span class="badge">Remove Filter <span class="glyphicon glyphicon-remove"></span></span>
		</a>
		}</h4>
		<div id="facet-map"></div>
		</div>
		@facet(orgs(0), "type")
		@facet(orgs(0), "stocksize.label")
		</div>
		<div class="col-md-8">
			<p>
			@defining((orgs.head \ "http://sindice.com/vocab/search#totalResults").as[Int]) { totalResults =>
				Total results: @(totalResults) |
				@if(from > 0){<a href='@routes.Application.search(q=q, from=from-size, format="html", location=location)'>&LeftArrow; prev</a>}
				@(from+1)&mdash;@(Math.min(totalResults, from+size))
				@if(totalResults > from+size){<a href='@routes.Application.search(q=q, from=from+size, format="html", location=location)'>next &RightArrow;</a>}
			}
			</p>
			<p>
				<table class="table table-striped table-condensed">
				@for(org <- orgs.tail;
						uri = (org\"id").asOpt[String].getOrElse("");
						link = "/organisations/" + uri.split("#")(0).split("/").last + "?format=html";
						name = (org\"name").asOpt[String].getOrElse("--");
						cities = (org\\"addressLocality");
						city = if(cities.size > 0){cities(0).asOpt[String].getOrElse("--")}else{"--"}) {
					<tr>
						<td>
							<a href='@link'>@name</a>
						</td>
						<td style="text-align: right">@city</td>
					</tr>
				}
				</table>
			</p>
		</div>
		<div class="col-md-2" id="facets">
			<p>
				@facet(orgs(0), "classification.label")
				@facet(orgs(0), "fundertype.label")
			</p>
		</div>
	</div>
	</p>
	<p>You can also access <a href='@routes.Application.search(q=(if(!q.isEmpty) q else "*"), from=from, format="json", location=location)'>this data</a> using our <a href="@routes.Application.api()">API</a>.</p>
	} else { @if(!q.isEmpty) {<p>No results for <code>@q</code>.</p>} } }
}