@(title: String, q: String, json: String)

@import play.api.libs.json._

@main(title) {
 <h1>@title</h1>
 <p>The lobid-organisations service provides access to a comprehensive dataset of library institutions in Germany.</p>
 <form action="@routes.Application.search()" method="GET">
  <input type="text" autofocus name="q" @if(!q.isEmpty) {value="@q"} />
  <input type="hidden" name="format" value="html"/>
  <input type="submit" value="Search"/>
 </form>
 <p>
 @defining(Json.parse(json).as[Seq[JsValue]]) { orgs =>
  @if(!orgs.isEmpty) {
   <table>
    @for(org <- orgs.tail;
         uri = (org\"id").asOpt[String].getOrElse("");
         link = uri.split("#")(0) + "?format=html") {
     <tr>
      <td>
       <a href='@link'>
       @((org\"name").asOpt[String].getOrElse("*no name*"))</a>
      </td>
     </tr>
    }
   </table>
  }
 }
 </p>
 <p>You can also access this data using our <a href="@routes.Application.api()">API</a>.</p>
}